/* Element Styles */
body {
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #FFFFFF;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; 
    font-style: normal;
}

h3, h4 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600; 
    font-style: normal;
}

h5, h6 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; 
    font-style: normal;
}

p {
    color: #FFFFFF;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
}

section {

}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

/* Text Styles */
.caption {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; 
  font-style: normal;
}

.sub {
    color: #ABABAB;
}

/* Section Styles */
.title {

}

.navigation {

}

/* Responsive Styles */

/* Desktop Styles */
@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

/* Tablet Styles */
@media (min-width: 800px) and (max-width: 1279px) {
    .container {
        max-width: 800px;
    }
}

/* Mobile Styles */
@media (max-width: 799px) {
    .container {
        max-width: 100%;
    }
}